body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(10, 14, 17);
  color: white;
}

.timer-container{
  width: 500px;
  height: 500px;
  border-radius: 350px;
  border: gray solid 20px;
  position: relative;
  left: 500px;
  top: 50px;
  /* right: 400px; */

  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  /* justify-content: center; */
}

.first-minute,.first-second, .second-minute,.second-second,.colon{
  font-size: 75px;
}

button{
  border: none;
  height: 130px;
  width: 130px;
  border-radius: 75px;
  margin-right: 20px;
  color: violet;
  font-size: 30px;
  cursor: pointer;
}

.button-container{
  width: 540px;
  position: relative;
  left: 500px;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.start-button, .reset-button{
  color: white;
  font-weight: bold;
  transition: 4;
}

.start-button{
  background-color: blue;
  transition: 0.15s;
}

.stop-button{
  transition: 0.15s;
  background-color: red;
}
.reset-button{
  background-color:dimgray;
}
